<h1>User Home</h1>

<% @jobs.each do |job| %>
    <% @job = job %>
    <% @pay_sheet = job.pay_sheets.find_by_pay_period_id(@pay_period.id) %>
    <% if @pay_sheet.nil? %>
        <% new_pay_sheet %>
        <%= render 'pay_sheets/new' %>
    <% else %>
        <% edit_pay_sheet %>
        <%= render 'pay_sheets/edit' %>
    <% end %>
    <br/>
<% end %>