<h1>Victoria University Libraries Part-Time Pay</h1>
<% if signed_in? && current_user.admin? %>
    <%= render :partial => 'home_admin' %>
    e
    <%= render :partial => 'home_user' %>
<% else %>
    <%= render "sessions/sign_in" %>
<% end %>
