// Place all the styles related to the PaySheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.hours_field input {
    font-size: 14px;
    padding: 2px;
    size: 2;

}