<%= form_for(@pay_sheet) do |f| %>
    <%= render 'pay_sheets/fields', :f => f %>
    <div class="actions">
      <% if current_user.admin_or_supervisor? %>
          <%= f.submit "Approve" %>
      <% else %>
          <%= f.submit "Submit" %>
      <% end %>
    </div>
<% end %>