<table class="week1 week">
  <tr>
    <th>Date</th>
    <th>Shift</th>
    <th>Hours</th>
  </tr>
  <% @shifts[0..6].each do |shift| %>
      <%= render 'pay_sheets/shift', :shift => shift, :f => f %>
  <% end %>
</table>

<table class="week2 week">
  <tr>
    <th>Date</th>
    <th>Shift</th>
    <th>Hours</th>
  </tr>
  <% @shifts[7..13].each do |shift| %>
      <%= render 'pay_sheets/shift', :shift => shift, :f => f %>
  <% end %>
</table>
